body {
  background: url('../images/movieframe.jpg') no-repeat center fixed;
  background-size: cover;
  background-color: black;
  overflow-x: hidden;
}

.auth {
  position: absolute;
  top: 500px;
  left: 400px;
}
