.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: rgba(0, 0, 0, 0.75);
}

.navbar__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.navbar img {
  margin: 0;
  width: 15vh;
}

.navbar ul {
  padding-top: 10px;
  color: white;
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding-left: 10px;
}
